body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: #F6A26A;
    /* Sky blue background */
    color: #333;
    text-align: center;
    padding-top: 50px;
    -webkit-user-select: none;
    user-select: none;
}

.clouds {
    position: relative;
}

.cloud {
    background: #fff;
    background: linear-gradient(top, #fff 5%, #f1f1f1 100%);
    border-radius: 100px;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.05);
    height: 120px;
    position: relative;
    width: 350px;
    margin-top: 150px;
    animation: float 3s ease-in-out infinite;
}

.cloud::after,
.cloud::before {
    background: #fff;
    content: '';
    position: absolute;
    z-index: -1;
}

.cloud::after {
    border-radius: 100px;
    height: 100px;
    left: 50px;
    top: -50px;
    width: 100px;
}

.cloud::before {
    border-radius: 200px;
    width: 180px;
    height: 180px;
    right: 50px;
    top: -90px;
}

.love-note {
    background-color: #bd33418c;
    /* Light pink background for notes */
    border: 2px dashed #BD3341;
    /* Dashed border for a playful look */
    border-radius: 15px;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    margin-top: -3800px;
}

/* button */


.floating-cloud {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 80px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    z-index: 10;
    animation: float 3s ease-in-out infinite;
    font-size: 17px;
}



@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}


.chat-screenshot {
    margin-bottom: 20px;
}

.chat-image {
    width: 100%;
    max-width: 400px;
    /* Adjust as needed */
    border-radius: 10px;
    /* Optional: for rounded corners */
}

.comment {
    color: #ffffff;
    background-color: #3d3d3d;
    /* Light grey background */
    border-left: 3px solid #1d1d1dbb;
    /* Blue border on the left */
    margin-top: 5px;
    padding: 10px;
    font-style: italic;
    /* Optional: if you want italic comments */
}


/* cloud 1 ,2 */

.cloud1 {
    position: relative;
}

.cloud1 {
    background: #fff;
    background: linear-gradient(top, #fff 5%, #f1f1f1 100%);
    border-radius: 100px;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.05);
    height: 120px;
    position: relative;
    width: 350px;
    margin-top: 0px;
    margin-left: 980px;
    animation: float 3s ease-in-out infinite;
}

.cloud1::after,
.cloud1::before {
    background: #fff;
    content: '';
    position: absolute;
    z-index: -1;
}

.cloud1::after {
    border-radius: 100px;
    height: 100px;
    left: 50px;
    top: -50px;
    width: 100px;
}

.cloud1::before {
    border-radius: 200px;
    width: 180px;
    height: 180px;
    right: 50px;
    top: -90px;
}


.clouds2 {
    position: relative;
}

.cloud2 {
    background: #fff;
    background: linear-gradient(top, #fff 5%, #f1f1f1 100%);
    border-radius: 100px;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.05);
    height: 120px;
    position: relative;
    width: 350px;
    margin-top: 400px;
    margin-left: 980px;
    animation: float 3s ease-in-out infinite;
}

.cloud2::after,
.cloud2::before {
    background: #fff;
    content: '';
    position: absolute;
    z-index: -1;
}

.cloud2::after {
    border-radius: 100px;
    height: 100px;
    left: 50px;
    top: -50px;
    width: 100px;
}

.cloud2::before {
    border-radius: 200px;
    width: 180px;
    height: 180px;
    right: 50px;
    top: -90px;
}


.cloud3 {
    position: relative;
}

.cloud3 {
    background: #fff;
    background: linear-gradient(top, #fff 5%, #f1f1f1 100%);
    border-radius: 100px;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.05);
    height: 120px;
    position: relative;
    width: 350px;
    margin-top: 200px;
    margin-left: 0px;
    animation: float 3s ease-in-out infinite;
}

.cloud3::after,
.cloud3::before {
    background: #fff;
    content: '';
    position: absolute;
    z-index: -1;
}

.cloud3::after {
    border-radius: 100px;
    height: 100px;
    left: 50px;
    top: -50px;
    width: 100px;
}

.cloud3::before {
    border-radius: 200px;
    width: 180px;
    height: 180px;
    right: 50px;
    top: -90px;
}



.cloud4 {
    position: relative;
}

.cloud4 {
    background: #fff;
    background: linear-gradient(top, #fff 5%, #f1f1f1 100%);
    border-radius: 100px;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.05);
    height: 120px;
    position: relative;
    width: 350px;
    margin-top: 400px;
    margin-left: 920px;
    animation: float 3s ease-in-out infinite;
}

.cloud4::after,
.cloud4::before {
    background: #fff;
    content: '';
    position: absolute;
    z-index: -1;
}

.cloud4::after {
    border-radius: 100px;
    height: 100px;
    left: 50px;
    top: -50px;
    width: 100px;
}

.cloud4::before {
    border-radius: 200px;
    width: 180px;
    height: 180px;
    right: 50px;
    top: -90px;
}


.cloud5 {
    position: relative;
}

.cloud5 {
    background: #fff;
    background: linear-gradient(top, #fff 5%, #f1f1f1 100%);
    border-radius: 100px;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.05);
    height: 120px;
    position: relative;
    width: 350px;
    margin-top: 400px;
    margin-left: 100px;
    animation: float 3s ease-in-out infinite;
}

.cloud5::after,
.cloud5::before {
    background: #fff;
    content: '';
    position: absolute;
    z-index: -1;
}

.cloud5::after {
    border-radius: 100px;
    height: 100px;
    left: 50px;
    top: -50px;
    width: 100px;
}

.cloud5::before {
    border-radius: 200px;
    width: 180px;
    height: 180px;
    right: 50px;
    top: -90px;
}

.cloud6 {
    position: relative;
}

.cloud6 {
    background: #fff;
    background: linear-gradient(top, #fff 5%, #f1f1f1 100%);
    border-radius: 100px;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.05);
    height: 120px;
    position: relative;
    width: 350px;
    margin-top: 670px;
    margin-left: 50px;
    animation: float 3s ease-in-out infinite;
}

.cloud6::after,
.cloud6::before {
    background: #fff;
    content: '';
    position: absolute;
    z-index: -1;
}

.cloud6::after {
    border-radius: 100px;
    height: 100px;
    left: 50px;
    top: -50px;
    width: 100px;
}

.cloud6::before {
    border-radius: 200px;
    width: 180px;
    height: 180px;
    right: 50px;
    top: -90px;
}

.cloud7 {
    position: relative;
}

.cloud7 {
    background: #fff;
    background: linear-gradient(top, #fff 5%, #f1f1f1 100%);
    border-radius: 100px;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.05);
    height: 120px;
    position: relative;
    width: 350px;
    margin-top: 600px;
    margin-left: 910px;
    animation: float 3s ease-in-out infinite;
}

.cloud7::after,
.cloud7::before {
    background: #fff;
    content: '';
    position: absolute;
    z-index: -1;
}

.cloud7::after {
    border-radius: 100px;
    height: 100px;
    left: 50px;
    top: -50px;
    width: 100px;
}

.cloud7::before {
    border-radius: 200px;
    width: 180px;
    height: 180px;
    right: 50px;
    top: -90px;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}



/* Add this to your style.css */
/* Add this to your style.css */
#greeting {
    /* Other styles... */
    animation: fadeOut 9s 1 forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

    to {
        opacity: 0;
    }
}

/* Flying hearts animation */
@keyframes flyHearts {
    0% {
        transform: translateY(100vh);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translateY(-100vh);
        opacity: 0;
    }

    to {
        opacity: 0;
    }
}

.heart {
    position: fixed;
    bottom: 0;
    background-image: url('https://pngfre.com/wp-content/uploads/heart-58-281x300.png');
    /* Replace with your heart image */
    width: 50px;
    /* Adjust size as needed */
    height: 50px;
    /* Adjust size as needed */
    background-size: cover;
    animation: flyHearts 4s 1 forwards;
    /* Add more hearts with different animation delays for a continuous effect */
}




/* CSS */
.button-55 {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}
